body{
    background-image: url(albie.jpg);
    font-size:1em;
    color:white;
    text-shadow: 2px 2px 3px black, 0 0 25px red, 0 0 7px darkblue;
    
    }
        select{
        display:block;
        margin-bottom:20px;
        margin-top:20px;
        position:relative;
        width:295px;
        height:30px;
        font-size:1.5rem;
    }
    form{
        position:relative;
        font-size:2.6em;
        text-align:left;
        left:46%;
        background-color:black;
        width:400px;
        border-radius:20px;
        padding:2%;
    
    }
    #comment{
        width:300px;
        height:65px;
    }
    #submit{
        width:305px;
        height:40px;
        font-size:1.5rem;
        color:white;
        text-shadow: 2px 2px 3px black, 0 0 25px red, 0 0 7px darkblue;

    }
    #name{
        width:75%;
        height:40px;

    }